@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background: #F2E9E9;
}
@font-face {
  font-family: "Makota";
  src: local("Makota"),
    url("./fonts/Makota.otf") format("opentype");
  font-weight: normal;
}